<!DOCTYPE html>
<html>
<head>
  <title>Rez</title>
  <%= stylesheet_link_tag    "rez/application", media: "all" %>
  <%= javascript_include_tag "rez/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
